[Unit]
Description=Service qui lance le serveur web
[Service]
Type=simple
user=nginx1
Environment="PORT=1025"
ExecStartPre=sudo /usr/bin/firewall-cmd --add-port=${PORT}/tcp
ExecStart=/usr/bin/python3 -m http.server ${PORT}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=sudo /usr/bin/firewall-cmd --remove-port=${PORT}/tcp

[Install]
WantedBy=multi-user.target                             
